{% load app_tags %}

<div class="bg-[#2a2f35] rounded-lg overflow-hidden shadow-lg relative group h-full flex flex-col">
  {# Image Container (Hardcoded aspect-ratio fixes the 0px height bug) #}
  <div class="relative w-full bg-[#3e454d]" style="aspect-ratio: 2 / 3;">
    <a href="https://www.themoviedb.org/person/{{ cast.id }}"
       target="_blank"
       class="block w-full h-full">
      <img alt="{{ cast.name }}"
           class="lazyload w-full h-full object-cover"
           data-src="{% if cast.image %}{{ cast.image }}{% endif %}"
           src="{{ IMG_NONE }}">
    </a>

    <div class="absolute inset-0 bg-black/40 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-200">
      <a href="https://www.themoviedb.org/person/{{ cast.id }}"
         target="_blank"
         title="View on TMDB"
         class="p-2.5 bg-indigo-600 text-white rounded-full hover:bg-indigo-500 hover:scale-110 transition-all duration-200">
        {% include "app/icons/external-link.svg" with classes="w-5 h-5" %}
      </a>
    </div>
  </div>

  {# Text Info #}
  <div class="p-3">
    <div class="text-sm font-semibold text-white line-clamp-1"
         title="{{ cast.name }}">{{ cast.name }}</div>

    <div class="text-xs text-gray-400 line-clamp-1 mt-1"
         title="{{ cast.character }}">{{ cast.character }}</div>
  </div>
</div>
